WcfMetadata/Service References/PaymentServiceWcf/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfContracts" />
  <xs:element name="ApplyPayment">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplyPaymentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyVoid">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyVoidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplyVoidResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyRefund">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyRefundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplyRefundResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfContracts" minOccurs="0" name="GetInformationResult" nillable="true" type="q1:ComplexJsonObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfContracts" minOccurs="0" name="value" nillable="true" type="q2:ComplexJsonObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfContracts" minOccurs="0" name="PutInformationResult" nillable="true" type="q3:WrapperObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>