WcfMetadata/Service References/PaymentServiceWcf/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PaymentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPaymentService_ApplyPayment_InputMessage">
    <wsdl:part name="parameters" element="tns:ApplyPayment" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_ApplyPayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApplyPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_ApplyVoid_InputMessage">
    <wsdl:part name="parameters" element="tns:ApplyVoid" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_ApplyVoid_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApplyVoidResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_ApplyRefund_InputMessage">
    <wsdl:part name="parameters" element="tns:ApplyRefund" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_ApplyRefund_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApplyRefundResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_GetInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInformation" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_GetInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_PutInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:PutInformation" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_PutInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutInformationResponse" />
  </wsdl:message>
  <wsdl:portType name="IPaymentService">
    <wsdl:operation name="ApplyPayment">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentService/ApplyPayment" message="tns:IPaymentService_ApplyPayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentService/ApplyPaymentResponse" message="tns:IPaymentService_ApplyPayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ApplyVoid">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentService/ApplyVoid" message="tns:IPaymentService_ApplyVoid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentService/ApplyVoidResponse" message="tns:IPaymentService_ApplyVoid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ApplyRefund">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentService/ApplyRefund" message="tns:IPaymentService_ApplyRefund_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentService/ApplyRefundResponse" message="tns:IPaymentService_ApplyRefund_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentService/GetInformation" message="tns:IPaymentService_GetInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentService/GetInformationResponse" message="tns:IPaymentService_GetInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentService/PutInformation" message="tns:IPaymentService_PutInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentService/PutInformationResponse" message="tns:IPaymentService_PutInformation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicBinding3698" type="tns:IPaymentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ApplyPayment">
      <soap:operation soapAction="http://tempuri.org/IPaymentService/ApplyPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplyVoid">
      <soap:operation soapAction="http://tempuri.org/IPaymentService/ApplyVoid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplyRefund">
      <soap:operation soapAction="http://tempuri.org/IPaymentService/ApplyRefund" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInformation">
      <soap:operation soapAction="http://tempuri.org/IPaymentService/GetInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutInformation">
      <soap:operation soapAction="http://tempuri.org/IPaymentService/PutInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentService">
    <wsdl:port name="BasicBinding3698" binding="tns:BasicBinding3698">
      <soap:address location="http://localhost:3698/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>